@import url('https://fonts.googleapis.com/css?family=Candal');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1 {
  color: #336768;
  font-family: 'Candal', sans-serif;
}

.flightsShow {
    width: 80%;
}




.flightsShow td {
    height: 30px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}


.flightsShow th {

  border: 1px solid #C1EBEC;
  height: 30px;
  background-color: #C1EBEC;
  color: white;


}



.nav {
  width: 100%;
  height: 40px;
  background-color: #00B0B2;
  margin: 0;
  padding: 0;
  font-family: 'Candal', sans-serif;
  display: flex;
}




.nav ul {
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow: hidden;
  background-color: #00B0B2;

}

li {
  text-decoration: none;
  color: white;
  font-size: 20px;
  display: inline;
  float: left;

}

li a {
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
  padding: 7px 16px;
  font-size: 18px;

}

li a:hover {
  background-color: #336768;
}
