.reservationTable {
  height: 50px;
  width: 50px;
  border: 1px solid;
  align-items: center;
}

.reservationTable:hover {
  background-color: grey;
}

.selected {
  background-color: red;
}

.hidden {
  display: none;
}

table {
  margin: auto;
}

.input {
  margin-top: 20px;
}
