.reservationTable {
  height: 50px;
  width: 50px;
  border: 1px solid;
  align-items: center;
}

.reservationTable:hover {
  background-color: grey;
}

.selected {
  background-color: #C1EBEC;
}

.hidden {
  display: none;

}

table {
  margin: auto;

}

.input {
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: white;


}


.layout {
  margin-bottom: 50px;
}


.book-flight {
  padding-top: 30px;

}


.button {
  background-color: #00B0B2;
  color: white;
  border-radius: 4px;
  margin-left: 10px;
}

.booked {
  background-color: #00B0B2;
}
